.form{
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 1rem;
}
.form form{
    width: 50%;
    background-color: #f3fff2;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form label {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 500;
}

.form form input[type=text],
.form form input[type=email],
.form form input[type=date],
.form form input[type=number]{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}